<!DOCTYPE html>
<html>
  <head>
    <title>IUPR Chart</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet"ng-repear href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <body ng-app="info" ng-controller="infoCtrl">
      <div class="row" >
          <div class="col-md-3">
              <select id="base" class="form-control" ng-model="geo">
                  <option ng-repeat="item in geoitems.geography">\{{item}}</option>
              </select>
              <br/>
              <br/>
              <br/>
              <select id="compare" class="form-control" ng-model="geo1">
                  <option ng-repeat="item in geoitems.geography">\{{item}}</option>
              </select>
              <br />
              <br />
              <input type="button" id="submitButton" class="btn btn-primary" name="submitButton" value="Submit" ng-click="displayYear()"/>
              <br />
              <br />
              <div ng-repeat="item in yearList"  id="\{{'yearDiv'+$index}}">
                  <input type="checkbox" ng-model="item.val" id="\{{'yearSelect'+$index}}" value="\{{item.year}}" checked="checked" ng-click="doIfChecked(item.year)"/>
                  <label for="\{{'yearLabel'+$index}}">\{{item.year}}</label>
              </div>
          </div>
          <div class="col-md-9">
              <table class="table table-bordered" ng-table="tableParams">
                  <tr>
                      <th scope="col">Geography</th>
                      <th scope="col">Poverty</th>
                  </tr>
                  <tr>
                      <th scope="col"></th>
                      <th scope="col" ng-repeat="item in tableYear track by $index" id="\{{'year'+$index}}">\{{item.year}}</th>
                  </tr>
                  <tr>
                      <th scope="row">\{{base}}</th>
                      <td id="\{{'base'+$index}}" ng-repeat="item in povList.basepov track by $index">\{{item}}</td>
                  </tr>
                  <tr ng-model="compare">
                      <th scope="row">\{{cmp}}</th>
                      <td id="\{{'cmp'+$index}}" ng-repeat="item1 in povList1.cmppov track by $index">\{{item1}}</td>
                  </tr>
              </table>
          </div>
      </div>
  </body>
  <script type="text/javascript" src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
  <script src="/javascripts/secret.js"></script>
  <script src="/javascripts/displayDetails.js"></script>
</html>
